<div class="p-4 sm:ml-64 bg-gray-50 dark:bg-gray-900">
  <div class="p-4 mt-14">
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div class="h-96 rounded bg-gray-50 dark:bg-gray-800 overflow-y-auto">
        <app-applications [fullVersion]="false"></app-applications>
      </div>
      <div class="h-96 rounded bg-gray-50 dark:bg-gray-800 overflow-y-auto">
        <app-applications [fullVersion]="false"></app-applications>
      </div>
      <div class="h-96 rounded bg-gray-50 dark:bg-gray-800 overflow-y-auto">
        <app-deployment-targets [fullVersion]="false"></app-deployment-targets>
      </div>
    </div>
  </div>
</div>
