export const clientConfig = {
  // to use your self-hosted instance, set apiBase: 'https://selfhosted-instance.company/api/v1',
  apiKey: '<create-a-personal-access-token-via-the-ui-and-paste-it-here>',
};
