[tools]
node = "24"
go = "1.25.4"
golangci-lint = "2.6.2"
helm-docs = "1.14.2"
watchexec = "2.3.2"
pnpm = "10.23.0"

[env]
DISTR_ENV = '.env.development.local'
VERSION = "snapshot"
COMMIT = "TODO"

[vars]
ldflags = "-s -w -X github.com/glasskube/distr/internal/buildconfig.version=$VERSION -X github.com/glasskube/distr/internal/buildconfig.commit=$COMMIT"

[tasks.frontend-deps]
run = 'pnpm install'
sources = ["package.json", "pnpm-lock.yaml"]

[tasks.frontend-dev]
run = 'pnpm build:dev'
depends = ["frontend-deps"]
sources = ["node_modules/**/*", "frontend/ui/**/*"]
outputs = ["internal/frontend/dist/ui/"]

[tasks.go-tidy]
run = 'go mod tidy'

# mise watch serve -r
[tasks.serve]
run = 'go run -ldflags="{{vars.ldflags}}" ./cmd/hub/ serve'
depends = ["go-tidy", "frontend-dev"]
sources = ["api/**/*.go", "cmd/**/*.go", "internal/**/*.go"]
