apiVersion: v2
name: distr
description: The easiest way to distribute enterprise software
keywords:
  - distr
  - software distribution
  - on-prem management
  - docker
  - kubernetes
maintainers:
  - name: Glasskube
    url: https://github.com/glasskube
icon: >-
  https://github.com/glasskube/distr/raw/refs/heads/main/frontend/ui/public/distr-logo.svg
home: https://distr.sh/docs/
type: application
version: 1.13.0
appVersion: 1.13.0
dependencies:
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.x.x
    condition: postgresql.enabled
  - name: minio
    repository: https://charts.min.io
    version: 5.x.x
    condition: minio.enabled
  - name: dex
    repository: https://charts.dexidp.io
    version: 0.x.x
    condition: dex.enabled
  - name: mailhog
    version: 5.x.x
    repository: https://codecentric.github.io/helm-charts
    condition: mailhog.enabled
