<div
  @modalFlyInOut
  style="transform-origin: top center"
  class="p-4 my-auto max-h-full overflow-y-auto w-200 bg-white rounded-lg shadow dark:bg-gray-900">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Create a new deployment</h2>
    <button
      type="button"
      (click)="close()"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <fa-icon [icon]="xmarkIcon"></fa-icon>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-4 md:p-5 space-y-4 w-full">
    <section class="antialiased">
      <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <app-installation-wizard-stepper
          #stepper
          (attemptContinue)="attemptContinue()"
          class="mx-auto max-w-5xl space-y-6 lg:space-y-8">
          <cdk-step [stepControl]="deploymentTargetForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4 w-full">
                <h3 class="font-normal text-gray-900 dark:text-white">Choose Deployment Type</h3>

                <div class="mb-2 grid grid-cols-2 gap-4">
                  <label
                    for="dt-type-docker"
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="dt-type-docker"
                          [formControl]="deploymentTargetForm.controls.type"
                          aria-labelledby="dt-type-docker-label"
                          aria-describedby="dt-type-docker-description"
                          type="radio"
                          name="type"
                          value="docker"
                          class="size-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <div id="dt-type-docker-label" class="font-bold leading-none text-gray-900 dark:text-white">
                          Docker via docker-compose
                        </div>
                        <p
                          id="dt-type-docker-description"
                          class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I already have a virtual machine running with docker and docker-composed installed.
                        </p>
                      </div>
                    </div>
                  </label>

                  <label
                    for="dt-type-kubernetes"
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="dt-type-kubernetes"
                          [formControl]="deploymentTargetForm.controls.type"
                          aria-labelledby="dt-type-kubernetes-label"
                          aria-describedby="dt-type-kubernetes-description"
                          type="radio"
                          name="type"
                          value="kubernetes"
                          class="size-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <div id="dt-type-kubernetes-label" class="font-bold leading-none text-gray-900 dark:text-white">
                          Kubernetes via Helm Chart
                        </div>
                        <p
                          id="dt-type-kubernetes-description"
                          class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I have access to a fresh namespace in a Kubernetes cluster and have the permissions to install
                          charts.
                        </p>
                      </div>
                    </div>
                  </label>

                  <div class="flex px-4">
                    <div class="flex items-center h-5">
                      <input
                        disabled
                        id="helper-checkbox"
                        aria-describedby="helper-checkbox-text"
                        type="checkbox"
                        value=""
                        class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    </div>
                    <div class="ms-4 text-sm">
                      <label for="helper-checkbox" class="text-sm font-medium text-gray-400 dark:text-gray-500">
                        My deployment target is air-gapped or has limited internet access
                      </label>
                      <p id="helper-checkbox-text" class="text-xs font-normal text-gray-500 dark:text-gray-300">
                        Air-gapped installations are not yet supported.
                      </p>
                    </div>
                  </div>
                </div>

                <div>
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Deployment Name
                  </label>
                  <input
                    [formControl]="deploymentTargetForm.controls.name"
                    type="text"
                    name="name"
                    id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required
                    autocomplete="off" />
                  @if (deploymentTargetForm.controls.name.invalid && deploymentTargetForm.controls.name.touched) {
                    <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                  }
                </div>

                @if (deploymentTargetForm.controls.namespace.enabled) {
                  <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Kubernetes Namespace
                    </label>
                    <input
                      [formControl]="deploymentTargetForm.controls.namespace"
                      type="text"
                      name="name"
                      id="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      required
                      autocomplete="off" />
                    <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
                      Please enter the name of the namespace where the agent and application will be deployed inside
                      your Kubernetes cluster.
                    </div>
                    @if (
                      deploymentTargetForm.controls.namespace.invalid && deploymentTargetForm.controls.namespace.touched
                    ) {
                      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                    }
                  </div>
                }

                @if (deploymentTargetForm.controls.clusterScope.enabled) {
                  <div class="flex items-center">
                    <input
                      id="checked-checkbox"
                      type="checkbox"
                      [formControl]="deploymentTargetForm.controls.clusterScope"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      Enable cluster-scoped permissions
                    </label>
                  </div>
                }
              </div>
            </div>
          </cdk-step>
          <cdk-step [stepControl]="agentForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                  <div>
                    <h3 class="font-normal text-gray-900 dark:text-white">
                      @if (selectedDeploymentTarget()?.type === 'docker') {
                        Download and run installation agent
                      } @else {
                        Deploy Glasskube agent in cluster
                      }
                    </h3>
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                      @if (selectedDeploymentTarget()?.type === 'docker') {
                        To setup this Deployment, the Glasskube Cloud Agent must be installed on the target server/VM.
                        Simply connect to the target (e.g. via SSH) and execute the following:
                      } @else {
                        To setup this Deployment, the Glasskube Cloud Agent must be installed in the target cluster.
                        With
                        <code>kubectl</code> installed and a <code>kubeconfig</code> that allows you to deploy
                        applications in the {{ selectedDeploymentTarget()?.namespace }} namespace, simply run:
                      }
                    </p>
                    @if (selectedDeploymentTarget(); as dt) {
                      <app-connect-instructions [deploymentTarget]="dt"></app-connect-instructions>
                    }
                  </div>
                </div>
              </div>
            </div>
          </cdk-step>
          <cdk-step [stepControl]="deployForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <h3 class="font-normal text-gray-900 dark:text-white">Deploy</h3>
                <div class="grid gap-4 mb-4 grid-cols-2">
                  <div class="col-span-2 sm:col-span-1">
                    <label for="applicationId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Application</label
                    >
                    <select
                      id="applicationId"
                      [formControl]="deployForm.controls.applicationId"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                      @for (app of applications$ | async; track app.id) {
                        <option [value]="app.id">{{ app.name }}</option>
                      }
                    </select>
                    @if (deployForm.controls.applicationId.invalid && deployForm.controls.applicationId.touched) {
                      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                    }
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                    <label for="applicationVersion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Version</label
                    >
                    <select
                      id="applicationVersion"
                      [formControl]="deployForm.controls.applicationVersionId"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                      @if (selectedApplication?.versions) {
                        @for (version of selectedApplication?.versions; track version.id) {
                          <option [value]="version.id">{{ version.name }}</option>
                        }
                      }
                    </select>
                    @if (
                      deployForm.controls.applicationVersionId.invalid &&
                      deployForm.controls.applicationVersionId.touched
                    ) {
                      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                    }
                  </div>
                  @if (deployForm.controls.releaseName.enabled) {
                    <div class="col-span-2">
                      <label for="release-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Helm relase name
                      </label>
                      <input
                        type="text"
                        id="release-name"
                        [formControl]="deployForm.controls.releaseName"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                    </div>
                    @if (deployForm.controls.releaseName.invalid && deployForm.controls.releaseName.touched) {
                      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                    }
                  }
                  @if (deployForm.controls.valuesYaml.enabled) {
                    <div class="col-span-2">
                      <label for="helm-values" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Helm values
                      </label>

                      <app-yaml-editor
                        class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        [formCtrl]="deployForm.controls.valuesYaml">
                      </app-yaml-editor>
                    </div>
                  }
                  <div class="col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Deployment notes
                    </label>
                    <textarea
                      id="description"
                      rows="4"
                      [formControl]="deployForm.controls.notes"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Add deployment notes"></textarea>
                  </div>
                </div>
                <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                  <div class="w-full"></div>
                </div>
              </div>
            </div>
          </cdk-step>
        </app-installation-wizard-stepper>
      </div>
    </section>
  </div>
</div>
