<nav class="sticky top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          (click)="sidebar.toggle()"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <fa-icon [icon]="faBarsStaggered" size="xl" class="h-6 w-6"></fa-icon>
        </button>
        <a routerLink="/" class="flex ms-2 md:me-24">
          <img [src]="logoUrl" class="h-8 me-3" alt="" />
          <h1 class="font-display self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
            @if (role === 'vendor') {
              Distr
            }
            <small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">
              @if (role === 'vendor') {
                Vendor Platform
              } @else {
                {{ customerSubtitle }}
              }
            </small>
          </h1>
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <app-color-scheme-switcher></app-color-scheme-switcher>
          </div>
          <div class="ml-1">
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="false"
              cdkOverlayOrigin
              #dropdownTrigger="cdkOverlayOrigin"
              (click)="showDropdown = !showDropdown">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" [src]="imageUrl" alt="user photo" />
            </button>
          </div>
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayHasBackdrop]="true"
            (backdropClick)="showDropdown = false"
            [cdkConnectedOverlayBackdropClass]="'transparent'"
            [cdkConnectedOverlayOrigin]="dropdownTrigger"
            [cdkConnectedOverlayOpen]="showDropdown">
            <div
              @dropdown
              style="transform-origin: top center"
              class="my-2 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">{{ name }}</p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  {{ email }}
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a
                    (click)="showDropdown = false"
                    routerLink="/settings/access-tokens"
                    class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">
                    Personal Access Tokens
                  </a>
                </li>
              </ul>
              <ul class="py-1" role="none">
                <li>
                  <button
                    type="button"
                    (click)="logout()"
                    class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">
                    Sign out
                  </button>
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>
