<div
  @modalFlyInOut
  style="transform-origin: top center"
  class="p-4 w-full mt-12 max-h-full bg-white rounded-lg shadow dark:bg-gray-900">
  <!-- Modal header -->
  <div
    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Let's get you started</h3>
    <button
      type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <fa-icon [icon]="xmarkIcon"></fa-icon>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-4 md:p-5 space-y-4">
    <section class="antialiased">
      <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <app-onboarding-wizard-stepper #stepper (attemptContinue)="attemptContinue()" class="mx-auto max-w-5xl space-y-6 lg:space-y-8">
          <cdk-step [stepControl]="applicationForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Choose An Application</h3>

                <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                  <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input id="sample-app-radio" [formControl]="applicationForm.controls.type" aria-describedby="sample-app-radio-text"
                               type="radio" name="appType" value="sample" class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="sample-app-radio" class="font-bold leading-none text-gray-900 dark:text-white">Sample Bookmarking Application</label>
                        <p id="sample-app-radio-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I'm just testing – Show me how to deploy some sample app.<br>
                          This will create an application named <a href="https://github.com/go-shiori/shiori" target="_blank">Shiori</a>.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input id="custom-app-radio" [formControl]="applicationForm.controls.type" aria-describedby="custom-app-radio-text"
                               type="radio" name="appType" value="custom" class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" checked />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="custom-app-radio" class="font-bold leading-none text-gray-900 dark:text-white"> My Own Application </label>
                        <p id="custom-app-radio-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">I have my own docker compose file and want to deploy it.</p>
                      </div>
                    </div>
                  </div>
                </div>

                @if(applicationForm.controls.type.value === 'sample') {
                  <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">

                  </div>
                } @else {
                  <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                    <div class="w-full">
                      <label for="applicationName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Application Name</label>
                      <input [formControl]="applicationForm.controls.custom.controls.name" type="text" name="name" id="applicationName"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                             placeholder="asdf-app" required>
                    </div>
                    <div class="w-full">
                      <label for="applicationVersion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Version Name</label>
                      <input [formControl]="applicationForm.controls.custom.controls.versionName" type="text" name="breadth" id="applicationVersion"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                             placeholder="v4.2.0" required>
                    </div>
                    <div class="w-full">
                      <label for="file_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Docker Compose File</label>
                      <input
                        id="file_input"
                        type="file"
                        accept=".yaml,.yml,application/yaml,application/x-yaml,text/yaml,text/x-yaml"
                        #fileInput
                        (change)="onFileSelected($event)"
                        class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                        aria-describedby="file_input_help" />

                    </div>
                  </div>
                }

              </div>
            </div>
          </cdk-step>
          <cdk-step [stepControl]="deploymentTargetForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Create Your First Customer</h3>

                <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                  <div class="w-full">
                    <label for="customerName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer Name</label>
                    <input [formControl]="deploymentTargetForm.controls.customerName" type="text" name="name" id="customerName"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="Sustainable Enterprises Ltd" required autocomplete="off">
                  </div>
                </div>

                <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Who is managing the customers' environment?</h4>

                <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                  <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input id="sample-app-radio" [formControl]="deploymentTargetForm.controls.accessType" aria-describedby="sample-app-radio-text"
                               type="radio" name="appType" value="sample" class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="sample-app-radio" class="font-bold leading-none text-gray-900 dark:text-white">I Am</label>
                        <p id="sample-app-radio-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I have full access to the customers machine and can install something there.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input id="custom-app-radio" [formControl]="deploymentTargetForm.controls.accessType" aria-describedby="custom-app-radio-text"
                               type="radio" name="appType" value="custom" class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="custom-app-radio" class="font-bold leading-none text-gray-900 dark:text-white">An employee of the customer</label>
                        <p id="custom-app-radio-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I do not have the necessary rights to install something on my customers machine.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                @if(deploymentTargetForm.controls.accessType.value === 'full') {
                  <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">

                  </div>
                } @else {
                  <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                    <div class="w-full">
                      <label for="applicationName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Application Name</label>
                      <input [formControl]="applicationForm.controls.custom.controls.name" type="text" name="name" id="applicationName"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                             placeholder="asdf-app" required>
                    </div>
                    <div class="w-full">
                      <label for="applicationVersion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Version Name</label>
                      <input [formControl]="applicationForm.controls.custom.controls.versionName" type="text" name="breadth" id="applicationVersion"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                             placeholder="v4.2.0" required>
                    </div>
                    <div class="w-full">
                      <label for="file_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Docker Compose File</label>
                      <input
                        id="file_input"
                        type="file"
                        accept=".yaml,.yml,application/yaml,application/x-yaml,text/yaml,text/x-yaml"
                        #fileInput
                        (change)="onFileSelected($event)"
                        class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                        aria-describedby="file_input_help" />

                    </div>
                  </div>
                }

              </div>
            </div>
          </cdk-step>
          <cdk-step>
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Connect Customer Environment</h3>

                <div class="grid md:grid-cols-12 sm:gap-16 lg:gap-8 xl:gap-16">
                  <div class="me-auto place-self-center md:col-span-7">
                    <div class="flex justify-center items-center mb-4 w-10 h-10 bg-green-100 rounded-lg dark:bg-green-900 lg:h-16 lg:w-16">
                      <svg class="w-5 h-5 text-green-700 dark:text-green-400 lg:w-8 lg:h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 6 2 2 4-4m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                      </svg>
                    </div>
                    <h1 class="mb-2 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">Your request has been registered successfully.</h1>
                    <p class="mb-6 text-gray-500 dark:text-gray-400">I have successfully received your request to repair this product, until we resolve this case you can track the status of your request.</p>
                    <a href="#" class="inline-flex w-full items-center justify-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto">
                      <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                        <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                      </svg>
                      View status
                    </a>
                  </div>
                  <div class="md:col-span-5 lg:mt-0 hidden md:flex">
                    <a href="#">
                      <img class="mb-4 dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/service-light.svg" alt="illustration" />
                      <img class="mb-4 hidden dark:block md:h-full" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/service-dark.svg" alt="illustration" />
                    </a>
                  </div>
                </div>

                <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                  <div class="w-full">
                  </div>
                </div>
              </div>
            </div>
          </cdk-step>
        </app-onboarding-wizard-stepper>
      </div>
    </section>
  </div>
</div>
