<div
  @modalFlyInOut
  style="transform-origin: top center"
  class="p-4 w-full my-auto max-h-full overflow-y-auto bg-white rounded-lg shadow dark:bg-gray-900">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">Welcome to Glasskube Cloud</h2>
    <button
      type="button"
      (click)="close()"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <fa-icon [icon]="xmarkIcon"></fa-icon>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-4 md:p-5 space-y-4">
    <section class="antialiased">
      <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <app-onboarding-wizard-stepper
          #stepper
          (attemptContinue)="attemptContinue()"
          class="mx-auto max-w-5xl space-y-6 lg:space-y-8">
          <cdk-step [stepControl]="introForm">
            <app-onboarding-wizard-intro />
          </cdk-step>
          <cdk-step [stepControl]="applicationForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <h3 class="font-normal text-gray-900 dark:text-white">How do you distribute your application?</h3>

                <div class="flex pl-1">
                  <div class="flex items-center h-5">
                    <input
                      [formControl]="applicationForm.controls.sampleApplication"
                      id="process-type-checkbox"
                      type="checkbox"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                  </div>
                  <div class="ms-2 text-sm">
                    <label for="process-type-checkbox" class="text-sm font-medium text-gray-900 dark:text-white">
                      I don't know yet, please just let me test!
                    </label>
                    <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                      Show me how to deploy some sample app.<br />
                      This will create a docker compose application named
                      <a href="https://github.com/go-shiori/shiori" target="_blank">Shiori</a>.
                    </p>
                  </div>
                </div>

                @if (!applicationForm.controls.sampleApplication.value) {
                  <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                    <div
                      class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                      <div class="flex items-start">
                        <div class="flex h-5 items-center">
                          <input
                            id="app-type-docker-radio"
                            [formControl]="applicationForm.controls.type"
                            aria-describedby="app-type-docker-radio-text"
                            type="radio"
                            name="appType"
                            value="docker"
                            class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                        </div>

                        <div class="ms-4 text-sm">
                          <label
                            for="app-type-docker-radio"
                            class="font-bold leading-none text-gray-900 dark:text-white"
                            >Docker Compose</label
                          >
                          <p
                            id="app-type-docker-radio-text"
                            class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                            I have a docker compose file.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div
                      class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                      <div class="flex items-start">
                        <div class="flex h-5 items-center">
                          <input
                            id="app-type-kubernetes-radio"
                            [formControl]="applicationForm.controls.type"
                            aria-describedby="app-type-kubernetes-radio-text"
                            type="radio"
                            name="appType"
                            value="kubernetes"
                            class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600"
                            checked />
                        </div>

                        <div class="ms-4 text-sm">
                          <label
                            for="app-type-kubernetes-radio"
                            class="font-bold leading-none text-gray-900 dark:text-white">
                            Helm / Kubernetes
                          </label>
                          <p
                            id="app-type-kubernetes-radio-text"
                            class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                            I have a Helm chart.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  @if (applicationForm.controls.type.invalid && applicationForm.controls.type.touched) {
                    <p class="text-sm text-red-600 dark:text-red-500">Field is required.</p>
                  }

                  @if (applicationForm.controls.type.value === 'kubernetes') {
                    <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                      <div class="w-full">
                        <label
                          for="kubernetesApplicationName"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Application Name</label
                        >
                        <input
                          [formControl]="applicationForm.controls.kubernetes.controls.name"
                          autotrim
                          type="text"
                          name="name"
                          id="kubernetesApplicationName"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="Security Scanner"
                          required />
                        @if (
                          applicationForm.controls.kubernetes.controls.name.invalid &&
                          applicationForm.controls.kubernetes.controls.name.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                      <div class="w-full">
                        <label
                          for="kubernetesApplicationVersion"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Version</label
                        >
                        <input
                          [formControl]="applicationForm.controls.kubernetes.controls.versionName"
                          autotrim
                          type="text"
                          name="breadth"
                          id="kubernetesApplicationVersion"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="v4.2.0"
                          required />
                        @if (
                          applicationForm.controls.kubernetes.controls.versionName.invalid &&
                          applicationForm.controls.kubernetes.controls.versionName.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                    </div>

                    <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                      <div class="w-full">
                        <label
                          for="chartTypeSelect"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Chart Type</label
                        >
                        <select
                          [formControl]="applicationForm.controls.kubernetes.controls.chartType"
                          id="chartTypeSelect"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                          <option value="repository">Repository</option>
                          <option value="oci">OCI</option>
                        </select>
                        @if (
                          applicationForm.controls.kubernetes.controls.chartType.invalid &&
                          applicationForm.controls.kubernetes.controls.chartType.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                      <div class="w-full">
                        @if (applicationForm.controls.kubernetes.controls.chartName.enabled) {
                          <label
                            for="kubernetesChartName"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Chart Name</label
                          >
                          <input
                            [formControl]="applicationForm.controls.kubernetes.controls.chartName"
                            autotrim
                            type="text"
                            name="chartName"
                            id="kubernetesChartName"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                          @if (
                            applicationForm.controls.kubernetes.controls.chartName.invalid &&
                            applicationForm.controls.kubernetes.controls.chartName.touched
                          ) {
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                          }
                        }
                      </div>
                    </div>

                    <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                      <div class="w-full">
                        <label
                          for="kubernetesChartUrl"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Chart URL</label
                        >
                        <input
                          [formControl]="applicationForm.controls.kubernetes.controls.chartUrl"
                          autotrim
                          type="text"
                          name="chartUrl"
                          id="kubernetesChartUrl"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                        @if (
                          applicationForm.controls.kubernetes.controls.chartUrl.invalid &&
                          applicationForm.controls.kubernetes.controls.chartUrl.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                      <div class="w-full">
                        <label
                          for="kubernetesChartVersion"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Chart Version</label
                        >
                        <input
                          [formControl]="applicationForm.controls.kubernetes.controls.chartVersion"
                          autotrim
                          type="text"
                          name="chartVersion"
                          id="kubernetesChartVersion"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                        @if (
                          applicationForm.controls.kubernetes.controls.chartVersion.invalid &&
                          applicationForm.controls.kubernetes.controls.chartVersion.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                    </div>

                    <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                      <div class="w-full">
                        <label
                          for="base_values_input"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Base Values</label
                        >
                        <app-yaml-editor
                          id="base_values_input"
                          class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          [formCtrl]="applicationForm.controls.kubernetes.controls.baseValues">
                        </app-yaml-editor>
                      </div>

                      <div class="w-full">
                        <label for="template_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Template</label
                        >
                        <app-yaml-editor
                          id="template_input"
                          class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          [formCtrl]="applicationForm.controls.kubernetes.controls.template">
                        </app-yaml-editor>
                      </div>
                    </div>
                  } @else if (applicationForm.controls.type.value === 'docker') {
                    <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                      <div class="w-full">
                        <label
                          for="applicationName"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Application Name</label
                        >
                        <input
                          [formControl]="applicationForm.controls.docker.controls.name"
                          autotrim
                          type="text"
                          name="name"
                          id="applicationName"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="Security Scanner"
                          required />
                        @if (
                          applicationForm.controls.docker.controls.name.invalid &&
                          applicationForm.controls.docker.controls.name.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                      <div class="w-full">
                        <label
                          for="applicationVersion"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Version</label
                        >
                        <input
                          [formControl]="applicationForm.controls.docker.controls.versionName"
                          autotrim
                          type="text"
                          name="breadth"
                          id="applicationVersion"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="v4.2.0"
                          required />
                        @if (
                          applicationForm.controls.docker.controls.versionName.invalid &&
                          applicationForm.controls.docker.controls.versionName.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                        }
                      </div>
                      <div class="w-full">
                        <label for="file_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Docker Compose File</label
                        >
                        <input
                          id="file_input"
                          type="file"
                          accept=".yaml,.yml,application/yaml,application/x-yaml,text/yaml,text/x-yaml"
                          #dockerComposeFileInput
                          (change)="onDockerComposeFileSelected($event)"
                          class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                          aria-describedby="file_input_help" />
                        @if (dockerComposeFile == null && applicationForm.controls.docker.touched) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">File is required.</p>
                        }
                      </div>
                    </div>
                  } @else {
                    <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2"></div>
                  }
                }

                <!--

                <h3 class="font-normal text-gray-900 dark:text-white">Choose An Application</h3>
                <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                  <div
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="sample-app-radio"
                          [formControl]="applicationForm.controls.processType"
                          aria-describedby="sample-app-radio-text"
                          type="radio"
                          name="appType"
                          value="sample"
                          class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="sample-app-radio" class="font-bold leading-none text-gray-900 dark:text-white"
                          >Sample Bookmarking Application</label
                        >
                        <p id="sample-app-radio-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I'm just testing – Show me how to deploy some sample app.<br />
                          This will create a docker compose application named
                          <a href="https://github.com/go-shiori/shiori" target="_blank">Shiori</a>.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="custom-app-radio"
                          [formControl]="applicationForm.controls.processType"
                          aria-describedby="custom-app-radio-text"
                          type="radio"
                          name="appType"
                          value="custom"
                          class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600"
                          checked />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="custom-app-radio" class="font-bold leading-none text-gray-900 dark:text-white">
                          My Own Application
                        </label>
                        <p id="custom-app-radio-text" class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I have my own application and want to deploy it.
                        </p>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </cdk-step>
          <cdk-step [stepControl]="deploymentTargetForm">
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                  <div class="w-full">
                    <label for="customerName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Customer Name</label
                    >
                    <input
                      [formControl]="deploymentTargetForm.controls.customerName"
                      autotrim
                      type="text"
                      name="name"
                      id="customerName"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Sustainable Corp Ltd."
                      required
                      autocomplete="off" />
                    @if (
                      deploymentTargetForm.controls.customerName.invalid &&
                      deploymentTargetForm.controls.customerName.touched
                    ) {
                      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                    }
                  </div>
                </div>

                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Who is managing the customers' environment?</label
                >

                <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                  <div
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="access-type-full-radio"
                          [formControl]="deploymentTargetForm.controls.accessType"
                          aria-describedby="access-type-full-radio-text"
                          type="radio"
                          name="appType"
                          value="full"
                          class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="access-type-full-radio" class="font-bold leading-none text-gray-900 dark:text-white"
                          >I Am</label
                        >
                        <p
                          id="access-type-full-radio-text"
                          class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I have the necessary rights to access the customers machine and can install something there.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="access-type-none-radio"
                          [formControl]="deploymentTargetForm.controls.accessType"
                          aria-describedby="access-type-none-radio-text"
                          type="radio"
                          name="appType"
                          value="none"
                          class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="access-type-none-radio" class="font-bold leading-none text-gray-900 dark:text-white"
                          >An employee of the customer</label
                        >
                        <p
                          id="access-type-none-radio-text"
                          class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I do not have the necessary rights to install something on my customers machine.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                @if (
                  deploymentTargetForm.controls.accessType.invalid && deploymentTargetForm.controls.accessType.touched
                ) {
                  <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                }

                @if (deploymentTargetForm.controls.accessType.value === 'none') {
                  <div>
                    <label class="mt-4 block text-sm font-medium text-gray-900 dark:text-white"
                      >Customer Technical Contact Person</label
                    >
                    <p class="mt-1 mb-2 text-xs font-normal text-gray-500 dark:text-gray-400">
                      This person should be able to execute a simple install command in their environment.
                    </p>
                    <div class="w-full">
                      <label for="techContactEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Email</label
                      >
                      <input
                        [formControl]="deploymentTargetForm.controls.technicalContactEmail"
                        autotrim
                        type="email"
                        id="techContactEmail"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="michael.scott@corp.com" />
                      @if (
                        deploymentTargetForm.controls.technicalContactEmail.invalid &&
                        deploymentTargetForm.controls.technicalContactEmail.touched
                      ) {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">Please enter a valid email address.</p>
                      }
                    </div>
                  </div>
                } @else {
                  <div class="w-full flex flex-col gap-4">
                    @if (deploymentTargetForm.controls.namespace.enabled) {
                      <div>
                        <label for="namespace" class="block text-sm font-medium text-gray-900 dark:text-white">
                          Kubernetes Namespace
                        </label>
                        <p class="mt-1 mb-2 text-xs font-normal text-gray-500 dark:text-gray-400">
                          Please enter the Kubernetes Namespace where your application, as well as the Glasskube Cloud
                          Agent will be installed in the target cluster.
                        </p>
                        <input
                          [formControl]="deploymentTargetForm.controls.namespace"
                          autotrim
                          type="text"
                          id="namespace"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="Enter a namespace" />
                        @if (
                          deploymentTargetForm.controls.namespace.invalid &&
                          deploymentTargetForm.controls.namespace.touched
                        ) {
                          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Required.</p>
                        }
                      </div>
                    }
                    @if (deploymentTargetForm.controls.valuesYaml.enabled) {
                      <div>
                        <label for="values-yaml" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                          Helm values
                        </label>
                        <textarea
                          id="helm-values"
                          rows="10"
                          [formControl]="deploymentTargetForm.controls.valuesYaml"
                          class="block p-2.5 w-full font-mono text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="Add helm values for this deployment"></textarea>
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          </cdk-step>
          <cdk-step>
            <div class="space-y-6 mt-4">
              <div class="space-y-4">
                @if (deploymentTargetForm.controls.accessType.value === 'full') {
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Connect Customer Environment</h3>
                  <p class="mb-6 text-gray-500 dark:text-gray-400">
                    Your application <b class="dark:text-white">{{ app?.name }}</b> will be deployed to
                    <b class="dark:text-white">{{ createdDeploymentTarget?.name }}</b
                    >, as soon as the Glasskube Agent is installed in that environment.
                  </p>
                  <p class="mb-3 text-gray-500 dark:text-gray-400">To do so, follow these steps:</p>
                  <div class="p-4 md:p-5 space-y-4 text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                      <li>Connect to the target environment (e.g. via SSH)</li>
                      <li>Make sure docker is installed</li>
                      <li>
                        Execute the following in the terminal:
                        @if (createdDeploymentTarget?.id) {
                          <app-connect-instructions
                            [deploymentTarget]="createdDeploymentTarget!"></app-connect-instructions>
                        }
                      </li>
                    </ol>
                  </div>
                } @else {
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Customer has been invited</h3>
                  <p class="mb-6 text-gray-500 dark:text-gray-400">
                    Great! An e-mail has been sent to {{ deploymentTargetForm.value.technicalContactEmail }}, inviting
                    them to your customer portal. They will receive instructions on how to set up their
                    <b>{{ app?.name }}</b> deployment.
                  </p>
                }
              </div>
            </div>
          </cdk-step>
        </app-onboarding-wizard-stepper>
      </div>
    </section>
  </div>
</div>
