<div>
  <div class="space-y-6 sm:space-y-8">
    <ol
      class="flex flex-col gap-4 rounded-lg border border-gray-200 bg-gray-50 p-4 dark:border-gray-700 dark:bg-gray-800 sm:justify-center md:flex-row md:items-center lg:gap-6">
      <li
        class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
        [class.text-gray-500]="!isApplicationStep()"
        [class.dark:text-gray-400]="!isApplicationStep()"
        [class.text-blue-700]="isApplicationStep()"
        [class.dark:text-blue-600]="isApplicationStep()">
        <fa-icon [icon]="dockerIcon"></fa-icon>
        <p class="text-sm font-medium leading-tight">Create Application</p>
      </li>

      <div class="hidden h-px w-4 shrink-0 bg-gray-200 dark:bg-gray-700 md:block lg:w-16"></div>

      <li
        class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
        [class.text-gray-500]="!isDeploymentTargetStep()"
        [class.dark:text-gray-400]="!isDeploymentTargetStep()"
        [class.text-blue-700]="isDeploymentTargetStep()"
        [class.dark:text-blue-600]="isDeploymentTargetStep()">
        <fa-icon [icon]="networkIcon"></fa-icon>
        <p class="text-sm font-medium leading-tight">Create Customer</p>
      </li>

      <div class="hidden h-px w-4 shrink-0 bg-gray-200 dark:bg-gray-700 md:block lg:w-16"></div>

      <li
        class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
        [class.text-gray-500]="!isFinalStep()"
        [class.dark:text-gray-400]="!isFinalStep()"
        [class.text-blue-700]="isFinalStep()"
        [class.dark:text-blue-600]="isFinalStep()">
        <fa-icon [icon]="shipIcon"></fa-icon>
        <p class="text-sm font-medium leading-tight">Connect</p>
      </li>
    </ol>
  </div>

  @if (!isFinalStep()) {
    <form [formGroup]="currentFormGroup()" (ngSubmit)="this.attemptContinueOutput.emit()">
      <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

      <div class="gap-4 sm:flex sm:items-center mt-4">
        <!-- @if(selectedIndex > 0) {
        <button cdkStepperPrevious type="button" class="w-full rounded-lg  border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto">
          Back
        </button>
      }-->
        <button
          [disabled]="selected?.stepControl?.invalid"
          type="submit"
          class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Continue
        </button>
      </div>
    </form>
  } @else {
    <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

    <div class="gap-4 sm:flex sm:items-center mt-4">
      <button
        [disabled]="selected?.stepControl?.invalid"
        type="button"
        (click)="this.attemptContinueOutput.emit()"
        class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Finish
      </button>
    </div>
  }
</div>
