@let cpu = getPercent(metrics().cpuUsage);
@let memory = getPercent(metrics().memoryUsage);
<div class="flex space-x-1 items-center justify-end rtl:space-x-reverse">
  <div class="flex flex-col justify-center items-center">
    <div class="relative">
      <div class="gauge z-0 percent-{{ cpu }} relative">
        <div class="gauge-center bg-white dark:bg-gray-800"></div>
      </div>
      <div class="absolute inset-0 flex items-center justify-center text-xs font-thin text-black dark:text-white">
        {{ cpu }}%
      </div>
    </div>
    <div class="bg-white dark:bg-gray-800 text-xs content-center text-center mt-1 font-thin">
      @if (fullVersion()) {
        CPU<br />{{ metrics().cpuCoresM / 1000 }} Cores
      } @else {
        CPU
      }
    </div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="relative">
      <div class="gauge percent-{{ memory }} relative">
        <div class="gauge-center bg-white dark:bg-gray-800"></div>
      </div>
      <div class="absolute inset-0 flex items-center justify-center text-xs font-thin text-black dark:text-white">
        {{ memory }}%
      </div>
    </div>
    <div class="bg-white dark:bg-gray-800 text-xs content-center text-center mt-1 font-thin">
      @if (fullVersion()) {
        RAM<br />{{ metrics().memoryBytes | bytes: '1.0-0' }}
      } @else {
        RAM
      }
    </div>
  </div>
</div>
