<section class="bg-white pt-4 antialiased dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl items-center gap-4 px-4">
    <div class="text-base text-gray-500 dark:text-gray-400">
      <div class="mb-2 border-b border-gray-200 py-4 dark:border-gray-800">
        <div class="flex">
          <div
            class="bg-white-100 me-4 flex h-12 w-12 shrink-0 items-center justify-center rounded-lg border border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <fa-icon [icon]="faBoxes" size="lg"></fa-icon>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">Applications</h3>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              An application is the software you distribute to customers. We currently support distributing applications
              via docker-compose files with Helm charts available soon. To offer different channels (e.g., staging and
              production), you can create separate applications.
            </p>
            <a
              href="https://cal.glasskube.com/team/gk/support"
              target="_blank"
              class="inline-flex items-center font-medium text-primary-700 hover:underline dark:text-primary-500">
              Learn more
              <fa-icon [icon]="faArrowRightLong" class="ml-2"></fa-icon>
            </a>
          </div>
        </div>
        <div class="flex pt-8">
          <div
            class="bg-white-100 me-4 flex h-12 w-12 shrink-0 items-center justify-center rounded-lg border border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <fa-icon [icon]="faContactBook" size="lg"></fa-icon>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">Customers</h3>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              You can invite customers to install your applications via email, providing a link to the distr.sh Customer
              Portal with installation instructions. You can track their installation status, version, and configuration
              options.<br />
              Currently, only one email address can be assigned per customer.
            </p>
            <a
              href="https://cal.glasskube.com/team/gk/support"
              target="_blank"
              class="inline-flex items-center font-medium text-primary-700 hover:underline dark:text-primary-500">
              Learn more
              <fa-icon [icon]="faArrowRightLong" class="ml-2"></fa-icon>
            </a>
          </div>
        </div>
        <div class="flex pt-8">
          <div
            class="bg-white-100 me-4 flex h-12 w-12 shrink-0 items-center justify-center rounded-lg border border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <fa-icon [icon]="faServer" size="lg"></fa-icon>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">Deployments</h3>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Deployments represent application installations. You can create deployments yourself if you manage the
              installation. As a vendor, you also have an overview of all deployments managed by your or customers or
              other users of your organization.
            </p>
            <a
              href="https://cal.glasskube.com/team/gk/support"
              target="_blank"
              class="inline-flex items-center font-medium text-primary-700 hover:underline dark:text-primary-500">
              Learn more
              <fa-icon [icon]="faArrowRightLong" class="ml-2"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <p>distr.sh is evolving fast. New features are added weekly.</p>
    </div>
  </div>
</section>
