<button
  id="theme-toggle"
  type="button"
  (click)="switchColorScheme()"
  class="text-gray-500 inline-flex items-center justify-center dark:text-gray-400 hover:bg-gray-100 w-10 h-10 dark:hover:bg-gray-700 focus:outline-none focus:ring-3-4 focus:ring-3-gray-200 dark:focus:ring-3-gray-700 rounded-lg text-sm p-2.5">
  <fa-icon
    *ngIf="colorSchemeSignal() === ''"
    id="theme-toggle-dark-icon"
    [icon]="faMoon"
    size="lg"
    class="w-4 h-4 mb-1 ml-1 text-gray-400 transition duration-75 dark:text-gray-400"></fa-icon>
  <fa-icon
    *ngIf="colorSchemeSignal() === 'dark'"
    id="theme-toggle-light-icon"
    [icon]="faSun"
    size="lg"
    class="w-4 h-4 mb-1 text-gray-400 transition duration-75 dark:text-gray-400"></fa-icon>
  <span class="sr-only">Toggle dark mode</span>
</button>
