<div class="relative">
  <h1 class="inline-flex self-center font-semibold text-sm text-gray-700 dark:text-gray-400">
    Uptime{{ selectedDeploymentTarget ? ': ' + selectedDeploymentTarget.name : '' }}
  </h1>

  <button
    cdkOverlayOrigin
    #dropdownTrigger="cdkOverlayOrigin"
    (click)="showDropdown = !showDropdown"
    class="inline-block absolute top-0 right-0 p-1 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-3-4 focus:outline-none dark:text-white focus:ring-3-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-3-gray-600"
    type="button">
    <fa-icon [icon]="faEllipsis"></fa-icon>
  </button>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="showDropdown = false"
  [cdkConnectedOverlayBackdropClass]="'transparent'"
  [cdkConnectedOverlayOrigin]="dropdownTrigger"
  [cdkConnectedOverlayOpen]="showDropdown">
  <div
    @dropdown
    style="transform-origin: top center"
    class="my-2 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600">
    <ul class="py-1" role="none">
      @for (dt of deploymentTargets$ | async; track dt.id) {
        <li>
          <button
            type="button"
            (click)="selectDeploymentTarget(dt)"
            class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
            role="menuitem">
            {{ dt.name }}
          </button>
        </li>
      }
    </ul>
  </div>
</ng-template>

@if (chartOptions) {
  <apx-chart
    class="block h-52 max-w-full max-h-full overflow-hidden"
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [stroke]="chartOptions.stroke!"
    [tooltip]="chartOptions.tooltip!"
    [xaxis]="chartOptions.xaxis!"
    [legend]="chartOptions.legend!">
  </apx-chart>
} @else {
  <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">Nothing to display right now.</p>
}
