@keyframes fly-fade-top {
  0% {
    opacity: 0.8;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-fly-in {
  animation: fly-fade-top 150ms ease-out forwards;
}

.modal-fly-out {
  animation: fly-fade-top 150ms ease-in backwards;
}
