@theme {
  --spacing-108: 27rem;
  --spacing-128: 32rem;
  --spacing-144: 36rem;
  --spacing-160: 40rem;
  --spacing-180: 45rem;
  --spacing-200: 50rem;
  --spacing-256: 64rem;

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  --font-sans: 'Inter', 'system-ui', 'sans-serif';
  --font-display: 'Poppins', 'Inter', 'system-ui', 'sans-serif';
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 128rem;
  --breakpoint-5xl: 144rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin 'flowbite/plugin';
@source '../../../node_modules/flowbite';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
