<div class="p-4 sm:ml-64 bg-gray-50 dark:bg-gray-900">
  <div class="p-4">
    @if ((deploymentTargets$ | async)?.length === 0) {
      <div
        class="p-4 mb-4 text-sm text-blue-800 max-w-128 mx-auto rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
        role="alert">
        Click <a class="cursor-pointer underline" (click)="openWizard()">here</a> to continue with the onboarding
        wizard.
      </div>
    }

    <div class="flex flex-col gap-4">
      <h1 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">
        Agents
      </h1>
      <div class="grid grid-flow-col gap-4 mb-4">
        <app-deployment-targets [fullVersion]="false"></app-deployment-targets>
      </div>
    </div>

    <div class="pt-4 flex flex-col gap-4">
      <h1 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">
        Artifacts
      </h1>
      <div class="grid grid-flow-col gap-4 mb-4">
        <div class="grid gap-4 items-stretch xl:grid-cols-3 lg:grid-cols-2">
          @for (item of artifactsByCustomer$ | async; track item.customer.id) {
            <app-artifacts-by-customer-card [customer]="item.customer" [artifacts]="item.artifacts ?? []">
            </app-artifacts-by-customer-card>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #onboardingWizard>
  <app-onboarding-wizard (closed)="closeWizard()"></app-onboarding-wizard>
</ng-template>
