<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
  <div class="mx-auto max-w-screen-md px-4">
    <div class="bg-white dark:bg-gray-800 relative shadow-md rounded-lg overflow-hidden p-10 space-y-10 mb-20">
      <h1
        class="pb-4 mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white border-b border-gray-200 dark:border-gray-700">
        User Settings
      </h1>

      <form [formGroup]="generalForm" (ngSubmit)="saveGeneral()">
        <div class="space-y-4">
          <h2 class="text-xl font-bold dark:text-white">General</h2>
          <div class="space-y-2">
            <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input
              formControlName="name"
              autotrim
              type="text"
              name="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-sm text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Name" />
            <div class="text-sm text-gray-500">
              This name is used to address you in E-Mail communications and is shown to other users.
            </div>
          </div>

          <div class="space-y-2">
            <div class="block text-sm font-medium text-gray-900 dark:text-white">Profile Picture</div>
            <div class="inline-block relative">
              @if (generalForm.value.imageId) {
                <img [src]="generalForm.value.imageId | secureImage | async" class="rounded-full size-32" />
              } @else {
                <div
                  class="flex items-center justify-center text-gray-500 size-32 rounded-full border dark:border-gray-600">
                  No picture
                </div>
              }
              <button
                type="button"
                class="absolute bottom-1 right-1 rounded-full size-8 text-sm text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                (click)="showProfilePictureDialog()">
                <span class="sr-only">Edit profile picture</span>
                <fa-icon [icon]="faPen" />
              </button>
            </div>
          </div>

          <div class="flex justify-center w-full space-x-4 mt-8">
            <button
              type="submit"
              [disabled]="formLoading() || generalForm.invalid || generalForm.pristine"
              class="text-white w-full inline-flex items-center justify-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:opacity-60 disabled:cursor-not-allowed">
              <fa-icon [icon]="faFloppyDisk" size="lg" class="h-4 w-4 mr-2 -ml-0.5 mb-1" />
              Save
            </button>
          </div>
        </div>
      </form>

      <form [formGroup]="emailForm" (ngSubmit)="saveEmail()">
        <div class="space-y-4">
          <h2 class="text-xl font-bold dark:text-white">E-Mail Address</h2>

          <div class="text-gray-500 text-sm">
            Your E-Mail address is used for notifications and transactional communications. Additionally, it is used as
            your login handle.
          </div>

          <div class="space-y-2">
            <div class="block text-sm font-medium text-gray-900 dark:text-white">Current E-Mail address</div>

            <div
              class="flex items-baseline gap-2 border border-gray-300 dark:dark:border-gray-600 text-gray-900 dark:text-white p-4 rounded-lg text-sm">
              {{ user()?.email }}
              <span
                class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-green-900 dark:text-green-300"
                >Verified</span
              >
            </div>
          </div>

          <div class="space-y-2">
            <label for="email" class="block text-sm font-medium text-gray-900 dark:text-white">
              New E-Mail Address
            </label>
            <div class="flex gap-2">
              <input
                formControlName="email"
                autotrim
                type="email"
                name="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-sm text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="E-Mail Address" />
              <button
                type="submit"
                [disabled]="formLoading() || emailForm.invalid || emailForm.pristine"
                class="flex-0 text-white w-full inline-flex items-center justify-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:opacity-60 disabled:cursor-not-allowed">
                Verify
              </button>
            </div>
            @if (emailForm.controls.email.errors?.['email'] && emailForm.controls.email.touched) {
              <div class="text-red-500 text-sm">Invalid E-Mail Address</div>
            }
            <div class="text-gray-500 text-sm">Your e-mail address will be updated after successful verification.</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
