<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="flex items-center h-16 mb-6 text-4xl font-semibold text-gray-900 dark:text-white">
      <img class="h-full mr-4 border-none" src="distr-logo.svg" alt="" />
      Distr
    </div>
    <div
      class="w-full bg-white rounded-lg shadow-sm dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Thanks for signing up!
        </h1>
        <p class="text-base text-center font-normal text-gray-500 dark:text-gray-400">
          We've sent you an email. Please click the link inside of it to confirm your registration.
        </p>

        <div class="flex flex-col items-center">
          <button
            type="button"
            [disabled]="!requestMailEnabled"
            (click)="requestMail()"
            class="py-2.5 px-5 me-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Send again
          </button>
          <p class="text-sm mt-5 text-center font-light text-gray-500 dark:text-gray-400">
            Already verified?<br />
            <button
              (click)="logoutAndRedirectToLogin()"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500">
              Back to Login
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
