<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased sm:ml-64 text-gray-900 dark:text-white">
  <div class="mx-auto max-w-screen-lg px-4">
    @if (artifact$ | async; as artifact) {
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <div class="flex flex-col gap-3 py-3 px-6 sm:py-4">
            <div class="flex items-center">
              <div class="shrink-0">
                <!--
                TODO: show faDocker if the artifacts manifestContentType has the "docker" vendor prefix (vnd.docker).
                  For this we have to add the manifestContentType of the most recently created version to each artifact.
                -->
                <fa-icon class="text-xl" [icon]="faBox"></fa-icon>
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <h2 class="text-2xl font-semibold truncate">
                  {{ artifact.name }}
                </h2>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400 mt-1">
                  <app-uuid [uuid]="artifact.id" [small]="true"></app-uuid>
                </p>
              </div>
              <app-artifacts-download-count [source]="artifact"></app-artifacts-download-count>
            </div>

            <div>
              <div class="text-xs text-gray-500 dark:text-gray-400">Pull with OCI URL</div>
              <div class="font-mono mt-1">
                {{ getOciUrl(artifact) }}
                <app-clip [clip]="getOciUrl(artifact)"></app-clip>
              </div>
            </div>

            @if (updateTag$ | async; as updateTag) {
              <!--<div
                class="flex text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                role="alert">
                <fa-icon [icon]="faLightbulb" class="me-4"></fa-icon>
                <div>
                  <span class="font-medium">Some customers are not using the latest version of this artifact.</span>
                </div>
              </div>
              <div
                class="flex text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <fa-icon [icon]="faWarning" class="me-4"></fa-icon>
                <div>
                  <span class="font-medium">Some customers are affected by a critical vulnerability.</span>
                </div>
              </div>-->
            }
          </div>
        </div>
      </div>

      <div class="mt-4 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            @for (version of artifact.versions; track version.digest) {
              <li class="py-3 px-6 sm:py-4">
                <div class="flex items-center gap-2">
                  <div class="flex-1 min-w-0">
                    <div class="flex flex-row gap-1">
                      @for (label of version.tags; track label.name) {
                        @if (label.name === 'latest') {
                          <span
                            class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-400">
                            {{ label.name }}
                          </span>
                        } @else {
                          <span
                            class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                            {{ label.name }}
                          </span>
                        }
                      }
                    </div>
                    <ul class="flex gap-3 mt-1 text-xs font-normal text-gray-500 truncate dark:text-gray-400">
                      <li>{{ version.createdAt | relativeDate }}</li>
                      @if (version.size > 0) {
                        <li>{{ version.size | bytes }}</li>
                      }
                      <li><app-artifacts-hash [hash]="version.digest"></app-artifacts-hash></li>
                    </ul>
                  </div>
                  <div class="flex flex-col items-end gap-1">
                    <app-artifacts-download-count [source]="version"></app-artifacts-download-count>
                    <app-artifacts-downloaded-by [source]="version"> </app-artifacts-downloaded-by>
                  </div>
                </div>

                <div class="flex mt-2 justify-between">
                  @if (version.lastScannedAt) {
                    <app-artifacts-vulnerability-report
                      [vulns]="version.vulnerabilities"
                      [date]="version.lastScannedAt">
                    </app-artifacts-vulnerability-report>
                  }
                  <div class="flex row gap-4">
                    @if (version.sbom) {
                      <div>
                        <button
                          type="button"
                          class="py-1 px-2 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-3-4 focus:ring-3-gray-200 dark:focus:ring-3-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 disabled:opacity-60 disabled:cursor-not-allowed">
                          <fa-icon class="me-1" [icon]="faFile"></fa-icon>
                          Release Notes
                        </button>
                      </div>
                      <div>
                        <button
                          type="button"
                          class="py-1 px-2 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-3-4 focus:ring-3-gray-200 dark:focus:ring-3-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 disabled:opacity-60 disabled:cursor-not-allowed">
                          <fa-icon class="me-1" [icon]="faDownload"></fa-icon>
                          Download SBOM
                        </button>
                      </div>
                    }
                  </div>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</section>
