<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased sm:ml-64 text-gray-900 dark:text-white">
  <div class="mx-auto max-w-screen-lg px-4">
    @if (artifact$ | async; as artifact) {
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <div class="flex flex-col gap-3 py-3 px-6 sm:py-4">
            <div class="flex items-center">
              <div class="shrink-0">
                @if (artifact.imageUrl) {
                  <img
                    (click)="uploadImage(artifact)"
                    class="w-16 h-16 rounded-sm cursor-pointer"
                    height="199"
                    width="199"
                    [attr.src]="artifact.imageUrl | secureImage | async"
                    alt="" />
                } @else {
                  <div class="shrink-0 text-gray-900 dark:text-gray-400">
                    <fa-icon
                      (click)="uploadImage(artifact)"
                      [icon]="faBox"
                      size="xl"
                      class="text-xl cursor-pointer"></fa-icon>
                  </div>
                }
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <h2 class="text-2xl font-semibold truncate">
                  {{ artifact.name }}
                </h2>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400 mt-1">
                  <app-uuid [uuid]="artifact.id" [small]="true"></app-uuid>
                </p>
              </div>
              <app-artifacts-download-count
                *appRequiredRole="'vendor'"
                [source]="artifact"></app-artifacts-download-count>
            </div>

            @if (getArtifactUsage(artifact); as usage) {
              <div class="text-sm">
                <div class="text-gray-500 dark:text-gray-400">Use this artifact with:</div>
                <div class="font-mono mt-1">
                  {{ usage }}
                  <app-clip [clip]="usage"></app-clip>
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="mt-4 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            @for (version of artifact.versions; track version.digest) {
              @if (version.tags.length) {
                <li class="py-3 px-6 sm:py-4">
                  <div class="flex items-center gap-2">
                    <div class="flex-1 min-w-0">
                      <div class="flex flex-row gap-1 flex-wrap">
                        @for (label of version.tags; track label.name) {
                          <span
                            class="bg-blue-100 text-blue-800 text-xs font-medium pl-2.5 pr-1 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 border border-blue-400 flex items-center gap-1">
                            {{ label.name }}
                            <button
                              *appRequiredRole="'vendor'"
                              type="button"
                              aria-label="Delete tag {{ label.name }}"
                              (click)="deleteArtifactTag(artifact, version, label.name)"
                              class="p-0 text-red-400 hover:text-red-600 transition-colors">
                              <fa-icon [icon]="faXmark"></fa-icon>
                            </button>
                          </span>
                        }
                      </div>
                      <ul class="flex gap-3 mt-1 text-xs font-normal text-gray-500 truncate dark:text-gray-400">
                        <li>{{ version.createdAt | relativeDate }}</li>
                        @if (version.size > 0) {
                          <li>{{ version.size | bytes }}</li>
                        }
                        <li>
                          <app-artifacts-hash [hash]="version.digest"></app-artifacts-hash>
                        </li>
                      </ul>
                    </div>
                    <div class="flex flex-col items-end gap-1" *appRequiredRole="'vendor'">
                      <app-artifacts-download-count [source]="version"></app-artifacts-download-count>
                      <app-artifacts-downloaded-by [source]="version"></app-artifacts-downloaded-by>
                    </div>
                  </div>
                </li>
              }
            }
          </ul>
        </div>
      </div>
    }
  </div>
</section>
