name: distr
services:
  agent:
    network_mode: host
    restart: unless-stopped
    image: 'ghcr.io/glasskube/distr/docker-agent:{{ .agentVersion }}'
    environment:
      DISTR_TARGET_ID: '{{ .targetId }}'
      DISTR_TARGET_SECRET: '{{ .targetSecret }}'
      DISTR_LOGIN_ENDPOINT: '{{ .loginEndpoint }}'
      DISTR_MANIFEST_ENDPOINT: '{{ .manifestEndpoint }}'
      DISTR_RESOURCE_ENDPOINT: '{{ .resourcesEndpoint }}'
      DISTR_STATUS_ENDPOINT: '{{ .statusEndpoint }}'
      DISTR_INTERVAL: '{{ .agentInterval }}'
      DISTR_AGENT_VERSION_ID: '{{ .agentVersionId }}'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
