<div class="relative w-256 max-w-full max-h-full bg-white dark:bg-gray-700 rounded-lg shadow-sm overflow-x-hidden">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Agent Logs: {{ deploymentTarget().name }}</h3>
    <button
      type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
      (click)="hideModal()">
      <fa-icon [icon]="faXmark"></fa-icon>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="pb-4 md:pb-5">
    <app-deployment-target-logs-table [deploymentTargetId]="deploymentTarget().id!" />
  </div>
</div>
