<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{ template "fragments/style.html" }}
  </head>
  <body>
    <div class="message-container">
      {{ template "fragments/header.html" . }}
      <main>
        <p>Hi,</p>

        <p>{{.Organization.Name}} invited you to install and manage applications via {{.Host}}.</p>

        <p>
          {{ if .InviteURL }} To finish your setup and get further instructions please click
          <a href="{{ .InviteURL | UnsafeURL }}">here</a>. {{ else }} Log in with your existing account at
          <a href="{{ .Host }}/">{{ .Host }}</a> and explore their Customer Portal in the top right corner. {{ end }}
        </p>

        <p>{{template "fragments/signature.html" . }}</p>
      </main>
      {{template "fragments/footer.html" . }}
    </div>
  </body>
</html>
