<!-- Start block -->

<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
  @if (fullVersion) {
    <div
      class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 dark:border-gray-700">
      <div class="w-full md:w-1/2">
        <form class="flex items-center">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <fa-icon [icon]="magnifyingGlassIcon" class="text-gray-500 dark:text-gray-400"></fa-icon>
            </div>
            <input
              type="text"
              id="simple-search"
              placeholder="Search for applications"
              required=""
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
          </div>
        </form>
      </div>
      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <button
          (click)="openDrawer(manageApplicationDrawer)"
          type="button"
          id="createApplicationButton"
          class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          <fa-icon [icon]="plusIcon" class="text-gray-500 dark:text-gray-400 mr-2"></fa-icon>
          Add application
        </button>
        <div class="flex items-center space-x-3 w-full md:w-auto">
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayHasBackdrop]="true"
            (backdropClick)="showDropdown = false"
            [cdkConnectedOverlayPositions]="[{originX: 'end', overlayX: 'end', originY: 'bottom', overlayY: 'top'}]"
            [cdkConnectedOverlayBackdropClass]="'transparent'"
            [cdkConnectedOverlayOpen]="showDropdown">
            <div
              @dropdown
              style="transform-origin: top center"
              class="my-2 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="actionsDropdownButton">
                <li>
                  <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Mass Edit</a
                  >
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  }
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="p-4">Application</th>
          <th scope="col" class="p-4">Type</th>
          @if (fullVersion) {
            <th scope="col" class="p-4">Versions</th>
            <th scope="col" class="p-4">Creation Date</th>
            <th scope="col" class="p-4"></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (application of applications$ | async; track application.id) {
          <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <div class="flex items-center mr-3">
                <img
                  [ngSrc]="'/' + application.type + '.png'"
                  [alt]="application.type"
                  class="h-8 w-auto mr-3 rounded"
                  height="199"
                  width="199" />
                {{ application.name }}
              </div>
            </td>
            <td class="px-4 py-3">
              <span
                class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                {{ application.type }}
              </span>
            </td>

            @if (fullVersion) {
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  {{ application.versions?.length || 0 }}
                </div>
              </td>
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  {{ application.createdAt | date: 'dd.MM.YYYY HH:mm' }}
                </div>
              </td>
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex justify-end space-x-4">
                  <button
                    type="button"
                    (click)="openDrawer(manageApplicationDrawer, application)"
                    class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <fa-icon [icon]="penIcon" class="h-4 w-4 mr-2 -ml-0.5 text-gray-500 dark:text-gray-400"></fa-icon>
                    Edit
                  </button>
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template #manageApplicationDrawer>
  <div
    @drawerFlyInOut
    id="manage-application-drawer"
    class="h-screen p-4 overflow-y-auto bg-white w-80 dark:bg-gray-800"
    tabindex="-1"
    aria-labelledby="drawer-right-label">
    <h5
      id="drawer-label"
      class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">
      Manage Application
    </h5>
    <button
      type="button"
      (click)="hideDrawer()"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <fa-icon [icon]="xmarkIcon" class="w-5 h-5"></fa-icon>
      <span class="sr-only">Close menu</span>
    </button>
    <form [formGroup]="editForm" (ngSubmit)="saveApplication()">
      <div class="space-y-4">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name *</label>
          <input
            formControlName="name"
            type="text"
            name="title"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            value=""
            placeholder="Application name"
            required />
          @if(editForm.controls.name.invalid && !editForm.controls.name.untouched) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Field is required.</p>
          }
        </div>
        <div>
          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type *</label>
          <select
            formControlName="type"
            id="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected>docker</option>
          </select>
        </div>

        <div class="mt-8 mb-4 flex justify-center w-full pb-4 space-x-4 sm:px-4 sm:mt-0">
          <button
            type="submit"
            class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            @if (selectedApplication?.id) {
              <fa-icon [icon]="penIcon" class="h-4 w-4 mr-2 -ml-0.5"></fa-icon>
              Update
            } @else {
              <fa-icon [icon]="plusIcon" class="h-4 w-4 mr-2 -ml-0.5"></fa-icon>
              Create
            }
          </button>
          <button
            type="button"
            (click)="hideDrawer()"
            class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Cancel
          </button>
        </div>
      </div>
    </form>

    @if (selectedApplication?.id) {
      <form [formGroup]="newVersionForm" (ngSubmit)="createVersion()">
        <div>
          <h3 class="block mt-10 mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">
            New Version
          </h3>
          <div class="space-y-4">
            <div>
              <input
                formControlName="versionName"
                type="text"
                name="versionName"
                id="versionName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                value=""
                placeholder="v4.2.0"
                required />
              @if(newVersionForm.controls.versionName.invalid && !newVersionForm.controls.versionName.untouched) {
                <p class="mt-2 text-sm text-red-600 dark:text-red-500">Field is required.</p>
              }
            </div>
            <div class="w-full">
              <input
                id="file_input"
                type="file"
                accept=".yaml,.yml,application/yaml,application/x-yaml,text/yaml,text/x-yaml"
                #fileInput
                (change)="onFileSelected($event)"
                class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                aria-describedby="file_input_help" />
              <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400" id="file_input_help">
                Choose your docker compose file
              </p>
              @if(fileToUpload == null && !newVersionForm.untouched) {
                <p class="mt-1 text-sm text-red-600 dark:text-red-500">File is required.</p>
              }
              <div class="flex mt-3 items-center space-x-2.5">
                <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block">
                  Create New Version
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    }

    <ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2 mt-8">
      @for (version of selectedApplication?.versions; track version.id) {
        <li class="mb-10 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <fa-icon [icon]="releaseIcon"></fa-icon>
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ version.name }}</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{
            version.createdAt | date: 'dd.MM.YYYY HH:mm'
          }}</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400"></p>
        </li>
      }
    </ol>
  </div>
</ng-template>
