<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
  @if (fullVersion) {
    <div
      class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 dark:border-gray-700">
      <div class="w-full md:w-1/2">
        <form class="flex items-center">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <fa-icon [icon]="magnifyingGlassIcon" class="text-gray-500 dark:text-gray-400"></fa-icon>
            </div>
            <input
              type="text"
              id="simple-search"
              placeholder="Search for deployment targets "
              required=""
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
          </div>
        </form>
      </div>
      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <button
          (click)="openDrawer(manageDeploymentTargetDrawer)"
          type="button"
          id="createDeploymentTargetButton"
          class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          <fa-icon [icon]="plusIcon" class="text-gray-500 dark:text-gray-400 mr-2"></fa-icon>
          Add deployment target
        </button>
      </div>
    </div>
  }
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="p-4">Deployment Target</th>
          <th scope="col" class="p-4">Status</th>
          <th scope="col" class="p-4">Type</th>
          @if (fullVersion) {
            <th scope="col" class="p-4">Creation Date</th>
            <th scope="col" class="p-4">Geolocation</th>
            <th scope="col" class="p-4">Created By</th>
            <th scope="col" class="p-4">Current Deployment</th>
            <th scope="col" class="p-4"></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (dt of deploymentTargets$ | async; track dt.id) {
          <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <div class="flex items-center mr-3">
                <div class="relative mr-3">
                  <img
                    [ngSrc]="'/' + dt.type + '.png'"
                    [alt]="dt.type"
                    class="h-8 w-auto rounded max-w-none"
                    height="199"
                    width="199" />
                  <app-status-dot
                    class="absolute w-2 h-2 -bottom-0.5 -end-0.5"
                    [deploymentTarget]="dt"></app-status-dot>
                </div>
                {{ dt.name }}
              </div>
            </th>
            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              @if (!dt.currentStatus) {
                <div class="flex items-center" title="No status has been posted by the agent">
                  <app-status-dot class="h-4 w-4 me-1" [deploymentTarget]="dt"></app-status-dot>
                  Initial
                </div>
              } @else if (dt.currentStatus | isStale) {
                <div
                  class="flex items-center"
                  [title]="'Last status is ' + (dt.currentStatus.createdAt | relativeDate: true) + ' old'">
                  <app-status-dot class="h-4 w-4 me-1" [deploymentTarget]="dt"></app-status-dot>
                  Stale
                </div>
              } @else {
                <div
                  class="flex items-center"
                  [title]="'Last status: ' + (dt.currentStatus.createdAt | date: 'medium')">
                  <app-status-dot class="h-4 w-4 me-1" [deploymentTarget]="dt"></app-status-dot>
                  OK
                </div>
              }
            </td>
            <td class="px-4 py-3">
              <span
                class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                {{ dt.type }}
              </span>
            </td>
            @if (fullVersion) {
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  {{ dt.createdAt | date: 'dd.MM.YYYY HH:mm' }}
                </div>
              </td>
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                @if (dt.geolocation) {
                  {{ dt.geolocation.lat }}/{{ dt.geolocation.lon }}
                }
              </td>
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                @if (dt.createdBy) {
                  <span [title]="dt.createdBy.email">
                    {{ dt.createdBy.name ?? dt.createdBy.email }}
                  </span>
                }
              </td>
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                @if (dt.latestDeployment | async; as deployment) {
                  {{ deployment.applicationName }}&#64;{{ deployment.applicationVersionName }}
                }
              </td>

              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex justify-end space-x-4">
                  @if (!dt.currentStatus) {
                    <button
                      type="button"
                      (click)="showInstructionsModal(instructionsModal, dt)"
                      class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                      Connection instructions
                    </button>
                    <ng-template #instructionsModal>
                      <div
                        @modalFlyInOut
                        style="transform-origin: top center"
                        class="p-4 w-full mt-12 max-w-4xl max-h-full bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div
                          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Setup Instructions</h3>
                          <button
                            type="button"
                            (click)="hideModal()"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                            <fa-icon [icon]="xmarkIcon"></fa-icon>
                            <span class="sr-only">Close modal</span>
                          </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            To setup this Deployment Target, the Glasskube Cloud Agent must be installed on the target
                            server/VM. Simply connect to the target (e.g. via SSH) and execute the following:
                          </p>

                          <app-connect-instructions [deploymentTargetId]="dt.id!"></app-connect-instructions>
                        </div>
                      </div>
                    </ng-template>
                  }
                  @if (dt.currentStatus) {
                    <button
                      type="button"
                      (click)="newDeployment(dt, deploymentModal)"
                      aria-controls="manage-deployment-target-drawer"
                      class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                      <fa-icon
                        [icon]="shipIcon"
                        class="h-5 w-5 mr-2 -ml-0.5 text-gray-500 dark:text-gray-400"></fa-icon>
                      Deploy
                    </button>
                  }
                  <button
                    type="button"
                    (click)="openDrawer(manageDeploymentTargetDrawer, dt)"
                    aria-controls="manage-deployment-target-drawer"
                    class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <fa-icon [icon]="penIcon" class="h-5 w-5 mr-2 -ml-0.5 text-gray-500 dark:text-gray-400"></fa-icon>
                    Edit
                  </button>
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template #manageDeploymentTargetDrawer>
  <div
    @drawerFlyInOut
    id="manage-deployment-target-drawer"
    class="h-screen p-4 overflow-y-auto bg-white w-80 dark:bg-gray-800"
    tabindex="-1"
    aria-labelledby="drawer-right-label">
    <h5
      id="drawer-label"
      class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">
      @if (editForm.value.id) {
        Modify
      } @else {
        New
      }
      Deployment Target
    </h5>
    <button
      type="button"
      (click)="hideDrawer()"
      aria-controls="manage-deployment-target-drawer"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <fa-icon [icon]="xmarkIcon" class="w-5 h-5"></fa-icon>
      <span class="sr-only">Close menu</span>
    </button>
    <form [formGroup]="editForm" (ngSubmit)="saveDeploymentTarget()">
      <div class="space-y-4">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name *</label>
          <input
            formControlName="name"
            type="text"
            name="title"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            value=""
            placeholder="Deployment target name"
            required="" />
          @if (editForm.controls.name.invalid && !editForm.controls.name.untouched) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Field is required.</p>
          }
        </div>
        <div>
          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type *</label>
          <select
            formControlName="type"
            id="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected="">docker</option>
          </select>
        </div>
        <ng-container formGroupName="geolocation">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Geolocation latitude</label
            >
            <input
              formControlName="lat"
              type="number"
              step="0.000001"
              id="lat"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Geolocation latitude" />
          </div>
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Geolocation longitude</label
            >
            <input
              formControlName="lon"
              type="number"
              step="0.000001"
              id="lon"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Geolocation longitude" />
          </div>
        </ng-container>
      </div>
      <div class="mt-8 mb-4 flex justify-center w-full pb-4 space-x-4 sm:px-4">
        <button
          type="submit"
          class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          <fa-icon [icon]="penIcon" class="h-4 w-4 mr-2 -ml-0.5"></fa-icon>
          @if (editForm.value.id) {
            Update
          } @else {
            Create
          }
        </button>
        <button
          type="button"
          (click)="hideDrawer()"
          class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deploymentModal>
  <div
    @modalFlyInOut
    style="transform-origin: top center"
    class="z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Deploy new application version</h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="hideModal()">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form class="p-4 md:p-5" [formGroup]="deployForm" (ngSubmit)="saveDeployment()">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2 sm:col-span-1">
              <label for="applicationId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Application</label
              >
              <select
                id="applicationId"
                formControlName="applicationId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                @for (app of applications$ | async; track app.id) {
                  <option [value]="app.id">{{ app.name }}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label for="applicationVersion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Version</label
              >
              <select
                id="applicationVersion"
                formControlName="applicationVersionId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                [disabled]="deployForm.controls.applicationId.invalid">
                @if (selectedApplication?.versions) {
                  @for (version of selectedApplication?.versions; track version.id) {
                    <option [value]="version.id">{{ version.name }}</option>
                  }
                }
              </select>
            </div>
            <div class="col-span-2">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Deployment notes</label
              >
              <textarea
                id="description"
                rows="4"
                formControlName="notes"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Add deployment notes"></textarea>
            </div>
          </div>
          <button
            type="submit"
            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <fa-icon [icon]="shipIcon" class="h-5 w-5 mr-2 -ml-0.5 dark:text-gray-400"></fa-icon>
            Deploy
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
