<div class="z-50 w-256 max-w-full max-h-full overflow-x-hidden overflow-y-auto">
  <div class="relative w-full max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          @if (deployment()?.id) {
            Update Deployment
          } @else {
            Deploy new application version
          }
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="closed.emit()">
          <fa-icon [icon]="faXmark" />
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-5" [formGroup]="deployFormWrapper" (ngSubmit)="saveDeployment()">
        @if (customerManagedWarningVisible()) {
          <div
            class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
            role="alert">
            <fa-icon [icon]="faCircleExclamation" />
            <span class="sr-only">Info</span>
            <div class="ms-3 text-sm font-medium">
              Warning: You are about to overwrite a customer-managed deployment. Ensure this is done in coordination
              with the customer.
            </div>
          </div>
        }
        @if (dataLoaded()) {
          <app-deployment-form
            [formControl]="deployForm"
            [deploymentType]="deploymentTarget().type"
            [customerOrganizationId]="deploymentTarget().customerOrganization?.id"
            [deploymentTargetName]="deploymentTarget().name" />
          <button type="submit" [disabled]="loading()" class="text-white inline-flex items-center distr-btn-primary">
            <fa-icon [icon]="faShip" class="h-5 w-5 mr-2 -ml-0.5 dark:text-gray-400" />
            Deploy
          </button>
        } @else {
          <div class="flex items-center justify-center py-12">
            <app-spinner class="size-8" />
          </div>
        }
      </form>
    </div>
  </div>
</div>
