<div class="grid gap-4 mb-4 grid-cols-2">
  <div class="col-span-2 sm:col-span-1">
    <label for="applicationId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      Application
    </label>
    <select
      id="applicationId"
      [formControl]="deployForm.controls.applicationId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
      @for (app of applications$ | async; track app.id) {
        <option [value]="app.id">{{ app.name }}</option>
      }
    </select>
    @if (deployForm.controls.applicationId.invalid && deployForm.controls.applicationId.touched) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  </div>
  <div class="col-span-2 sm:col-span-1">
    <label for="applicationVersion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Version</label>
    <select
      id="applicationVersion"
      [formControl]="deployForm.controls.applicationVersionId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
      @for (version of availableApplicationVersions$ | async; track version.id) {
        <option [value]="version.id">{{ version.name }}</option>
      }
    </select>
    @if (deployForm.controls.applicationVersionId.invalid && deployForm.controls.applicationVersionId.touched) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  </div>
  @if (licenseControlVisible$ | async) {
    <div class="col-span-2 sm:col-span-1">
      <label for="applicationLicense" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Select License
      </label>
      <select
        id="applicationLicense"
        [formControl]="deployForm.controls.applicationLicenseId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
        @for (license of licenses$ | async; track license.id) {
          <option [value]="license.id">{{ license.name }}</option>
        }
      </select>
      @if (deployForm.controls.applicationLicenseId.invalid && deployForm.controls.applicationLicenseId.touched) {
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
      }
    </div>
  }
  @if (deployForm.controls.releaseName.enabled) {
    <div class="col-span-2">
      <label for="release-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Helm relase name
      </label>
      <input
        type="text"
        id="release-name"
        autotrim
        [formControl]="deployForm.controls.releaseName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
    </div>
    @if (deployForm.controls.releaseName.invalid && deployForm.controls.releaseName.touched) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  }
  @if (deployForm.controls.valuesYaml.enabled) {
    <div class="col-span-2">
      <label for="helm-values" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Helm values
      </label>

      <app-yaml-editor
        class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [formControl]="deployForm.controls.valuesYaml">
      </app-yaml-editor>
    </div>
  }
  @if (deployForm.controls.envFileData.enabled) {
    <div class="col-span-2">
      <label for="env-file" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Environment variables
      </label>

      <app-yaml-editor
        id="env-file"
        class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [formControl]="deployForm.controls.envFileData">
      </app-yaml-editor>

      <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
        Set your environment variables here. Documentation:
        <a
          target="_blank"
          class="text-primary-600 underline"
          href="https://docs.docker.com/compose/how-tos/environment-variables/variable-interpolation/#env-file-syntax">
          Env File Syntax</a
        >.
      </div>
    </div>
  }
</div>
