# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release Artifacts

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Upload deploy-docker.tar.bz2
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Create Archive
        run: tar -caf deploy-docker.tar.bz2 -C deploy/docker/ .
      - name: Upload Archive
        run: gh release upload ${{ github.ref_name }} deploy-docker.tar.bz2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
