name: Test Agent Startup

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        agent:
          - docker-agent
          - kubernetes-agent
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache-dependency-path: |
            go.sum
      - name: Build Agent
        run: make "build-${{ matrix.agent }}"
      - name: Test Agent Startup
        run: |
          echo "run ${{ matrix.agent }} with timeout $TIMEOUT"
          if timeout "$TIMEOUT" bash -c '
            {
              while read -r line; do
                echo "agent> $line"
                if [[ "$line" == *"agent is starting"* ]]; then
                  exit 0
                fi
              done
            } < <("./dist/${{ matrix.agent }}" 2>&1)
            echo "Agent quit unexpectedly"
            exit 1
          '; then
            echo "Agent startup successful"
            exit 0
          else
            echo "Agent did not start within $TIMEOUT or quit unexpectedly"
            exit 1
          fi
        env:
          TIMEOUT: '10s'
          DISTR_TARGET_ID: '95a53f00-a01e-414e-98fd-9e1cbf3553d9'
          DISTR_TARGET_SECRET: '00000000000000000000000000000000'
          DISTR_LOGIN_ENDPOINT: http://localhost:8080/api/v1/agent/login
          DISTR_MANIFEST_ENDPOINT: http://localhost:8080/api/v1/agent/manifest
          DISTR_RESOURCE_ENDPOINT: http://localhost:8080/api/v1/agent/resources
          DISTR_STATUS_ENDPOINT: http://localhost:8080/api/v1/agent/status
          DISTR_METRICS_ENDPOINT: http://localhost:8080/api/v1/agent/metrics
          DISTR_LOGS_ENDPOINT: http://localhost:8080/api/v1/agent/logs
          DISTR_INTERVAL: 5s
          DISTR_REGISTRY_HOST: localhost:8585
