<div class="w-full font-mono">
  @for (record of logs | async; track record.id) {
    <div class="space-x-2">
      <span>{{ record.timestamp | date: 'medium' }}</span>
      <span>{{ record.severity }}</span>
      <span class="text-gray-900 dark:text-white">{{ record.body }}</span>
    </div>
  }
  @if (hasMore) {
    <div class="flex items-center justify-center mt-2">
      <button
        type="button"
        class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        (click)="showMore()">
        Load more
      </button>
    </div>
  }
</div>
